@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// fontfamily
$headingFontFamily: "Georgia", sans-serif;
$normalFontFamily: "Tahoma", sans-serif;

// color
$headingColor: rgb(25, 25, 35);
$normalColor: rgba(37, 38, 94, 0.6);
$hoverColor: crimson;
// LineHeight
$normalLineHeight: 24px;
$headingLineHeight: 36px;
// fontSize
$headingFontSize: 24px;
$normalFontSize: 16px;

// fontweight
$headingFontWeight: 700;
$normalFontWeight: 400;
